<p id="notice"><%= notice %></p>

<h1>Budgets</h1>
<div ng-controller="BudgetCtrlJs as b">
  {{b.FirstName}} {{b.LastName}}
  
  <table class="table table-stripped">
    <thead>
      <th>Title</th>
      <th>Current Balance</th>
      <th>Options</th>
    </thead>
    
    <tr ng-repeat="bud in b.budgets">
      <td><a href="budgets/{{bud.id}}">{{bud.Title}}</a></td>
      <td>{{bud.CurrentBalance | currency:"$"}}</td>     
      <td><a href="budgets/{{bud.id}}/edit">Edit</a></td>
      
    
    </tr>
    </tbody>
  </table>
<br>

<%= link_to 'New Budget', new_budget_path %>

</div>

