
	<div class='row'>
		<div class='col-md-3'>
			<table class='table'>
				<thead><th>ID</th><th>Category Name</th><th>Sort Order</th></thead>
				<% @bCats.each do |b| %>
				<tr>
					<td><%= b.id %> </td>
					<td><%= b.Name %></td>
          <td><%= b.sort %></td>
				<% end %>
				</tr>
			</table>
		</div>
	</div>
