<!DOCTYPE html>
<html>
  <head>
    <title>Prudent Financial Managment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
	  <div class="container-fluid">
      <nav class="navbar navbar-default">
        <ul class="nav nav-pills">
          <li><a href"">HOME</a></li>
          <li><a href"">BUDGET</a></li>
          <li><a href"">ACCOUNTS</a></li>
        </ul>
      </nav>
    </div>
    <div class="container">
	    <%= yield %>
    </div>

  </body>
</html>
